@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://images.pexels.com/photos/10984700/pexels-photo-10984700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
         alt="Event Image"
         class="img-fluid rounded"
         style="max-width: 80%; margin-top: 20px;" />
</div>
